.SkillsContainer{
    width: 100%;
    height: 1000px;
    background: linear-gradient(180deg,#010332,#190028);
    background-position: fixed;
    background-size: 100%;
    background-position-y: 0%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#List{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    width: 80%;
    zoom: 100%;
    line-height: 0;
    padding-bottom: 20px;
}
.LogoItemContain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LogoItemContain h2 {
    color: rgba(43, 43, 43, 0.411);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffffc9;
    text-shadow: 1px 1px 8px black;
    font-size: x-large;
    position: relative;
    font-weight: 700;
    bottom: 5px;
}
.image{
    zoom: 10%;
}
#Logoline{
    width: 100%;
    height: 3px;
    background-color: rgb(249, 2, 2);

}
#AboutMeTransition{
    background: linear-gradient(180deg,#19002871,#010332, #19002800, 50%, #bbbbbb 50%);
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background-position: fixed;
    font-weight: 700;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: #010332
}

@media (max-width: 1350px){
    .LogoItemContain{
        zoom: 100%;
    }
    #List{
        zoom: 80%;
    }
}
@media (max-width: 1145px){
    #List{
        zoom: 100%;
    }
    .SkillsContainer{
        height: 1200px;
    }
    
}
@media (max-width: 980px){
    #List{
        zoom: 100%;
    }
}

@media (max-width: 888px){
    .SkillsContainer{
        height: 1300px;
    }
    #List{
        zoom: 90%;
    }
}

@media (max-width: 799px){
    #List{
        zoom: 80%;
    }
    .SkillsContainer{
        height: 1200px;
    }
}

@media (max-width: 768px){
    .LogoItemContain{
        zoom: 100%;
    }

    #List{
        zoom: 100%;
    }
    .SkillsContainer{
        height: 1700px;
    }
}
@media (max-width: 550px){
    #List{
        zoom: 90%;
    }
    .SkillsContainer{
        height: 1600px;
    }
}
@media (max-width: 495px){
    #List{
        zoom: 85%;
    }
    .SkillsContainer{
        height: 1500px;
    }
    .LogoItemContain{
        zoom: 100%;
    }
}
@media (max-width: 468px){
    #List{
        zoom: 80%;
    }
    .SkillsContainer{
        height: 1400px;
    }
}
@media (max-width: 441px){
    #List{
        zoom: 75%;
    }
    .SkillsContainer{
        height: 1300px;
    }
}
@media (max-width: 413px){
    #List{
        zoom: 70%;
    }
    .SkillsContainer{
        height: 1200px;
    }
}
@media (max-width: 385px){
    #List{
        zoom: 65%;
    }
    .SkillsContainer{
        height: 1100px;
    }
}
@media (max-width: 357px){
    #List{
        zoom: 60%;
    }
    .SkillsContainer{
        height: 1050px;
    }
}
@media (max-width: 330px){
    #List{
        zoom: 55%;
    }
    .SkillsContainer{
        height: 950px;
    }
}
@media (max-width: 303px){
    #List{
        zoom: 45%;
    }
    .SkillsContainer{
        height: 800px;
    }
}
